<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>My Bookings</h1>
    </div>
    <div class="col-6">
      <%= link_to "Add a booking", new_booking_path %>
    </div>
  </div>
  <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-4">
        <div class="card">
          <% if booking.bicycle.photo.key.nil? %>
            <%= image_tag Bicycle::DEFAULT_IMG, class: "card-img-top" %>
          <% else %>
            <%= cl_image_tag booking.bicycle.photo.key, class: "card-img-top", crop: :fill %>
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= booking.bicycle.title %></h3>
            <p>From: <%= booking.start_date.strftime("%d/%m/%Y") %></p>
            <p>To: <%= booking.end_date.strftime("%d/%m/%Y") %></p>
            <div>
              <%= link_to "Modify", edit_booking_path(booking) %>
              <%= link_to "Remove", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
