<div class="container">
<div class="row">
  <div class="col-6 mx-auto">
    <h1>My Bookings</h1>
  </div>
</div>
<div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-4">
      <div class="card">
        <%= image_tag booking.bicycle.photo, class: "card-img-top"  %>
        <div class="card-body">
          <h3 class="card-title"><%= booking.bicycle.title %></h3>
          <p>From: <%= booking.start_date.strftime("%m/%d/%Y") %></p>
          <p>To: <%= booking.end_date.strftime("%m/%d/%Y") %></p>
        </div>
      </div>
    </div>
    <% end %>
</div>
<div class="row">
  <div class="col-6">
    <%= link_to "Add a booking", new_booking_path %>
  </div>
  <div class="col-6"></div>
</div>
</div>
