<div class="card mb-2">
  <%= link_to bicycle_path(bicycle) do %>
    <% if bicycle.photo.key.nil? %>
      <%= image_tag Bicycle::DEFAULT_IMG, class: "card-img-top" %>
    <% else %>
      <%= cl_image_tag bicycle.photo.key, class: "card-img-top", crop: :fill %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= bicycle.title %></h5>
      <p class="card-text"><%= bicycle.description.truncate(100) %></p>
    </div>
  <% end %>
</div>
