<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag @bicycle.photo, class: "img-fluid" %>
    </div>
    <div class="col-6">
      <h3><%= @bicycle.title %></h3>
      <p><%= @bicycle.description %></p>
      <ul class="list-group">
        <li class="list-group-item">Owner: <%= @bicycle.user.first_name %></li>
        <li class="list-group-item"><i class="fa-solid fa-euro-sign"></i> <%= @bicycle.price_per_day.fdiv(100) %></li>
      </ul>
      <% if @bicycle.user == current_user %>
        <%= link_to "Edit", "#" %>
        <%= link_to "Remove", "#" %>
      <% end %>
    </div>
  </div>
</div>
