<div class="container my-2">
  <div class="row">
    <h2>Your Rentals</h2>
    <% @reservations.each do |reservation| %>
      <div class="col">
        <div class="card mb-2">
          <div class="card-body">
            <h4 class="card-title"><%= reservation.bicycle.title %></h4>
            <p>From: <%= reservation.start_date.strftime("%d/%m/%Y") %></p>
            <p>To: <%= reservation.end_date.strftime("%d/%m/%Y") %></p>
            <p>Owner: <%= reservation.bicycle.user.first_name %></p>
            <p>Renter: <%= reservation.user.first_name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
